
@{
    Layout = null;
}

<form class="form-group" method="post">
    <div>
        <label>AD. . . .</label>
        <input type="text" class="form-control" name="AD" />
    </div>
    <br />
    <div>
        <label>SIFRE .</label>
        <input type="text" class="form-control" name="SIFRE" />
    </div>
    <br />
    <button class="btn btn-primary"><a href="/Guvenlik/GirisYap">Kaydet</a></button>
</form>
